.calcsize{
    margin-top:10%;
    width: 20%;
    height: 400px;
    border:solid;0.2px
}


  
  .calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  
  .calculator-screen {
    width: 98%;
    height: 80px;
    border: none;
    background-color: #96a78d;
    color: rgb(19, 17, 17);
    text-align: right;
    margin-left: 5px;
    
  }
  
  button {
    height: 60px;
    font-size: 3rem;
  }
  
  .equal-sign {
    height: 98%;
    grid-area: 2 / 4 / 6 / 5;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
h1{
    text-align: center;
}

