@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,500;1,500&family=Orbitron:wght@500&display=swap');

/* h1{
  font-family: 'Exo', sans-serif;
  

} */
.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.calculator-screen {
  width: 97%;
  height: 80px;
  border: solid 2px;
  background-color: #b8c4b1;
  color: rgb(19, 17, 17);
  text-align: right;
  font-size: 1.5rem;
  margin-left: 5px;
  margin-top:20px;
 

}

button {
  height: 40px;
  font-size: 2rem;
  width: 50px;
}

.equal-sign {
  height: 98%;
  grid-area: 2 / 4 / 6 / 5;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
}